<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration>
	<!--<connectionStrings/>-->
	<appSettings>
  <add key="DBCONN_MISDB2" value="Provider=MSDAORA.1;Password=cim;User ID=cim;Data Source=MISDB2;Persist Security Info=True" />
  <add key="DBCONN_OARPT_OLE" value="Provider=MSDAORA.1;Password=stdman;User ID=innrpt;Data Source=OARPT;Persist Security Info=True" />
  <add key="DBCONN_ODS_OLE" value="Provider=MSDAORA.1;Password=stdman;User ID=stdman;Data Source=ODS_ARY;Persist Security Info=True" />
  <add key="DBCONN_SSODB_OLE" value="Provider=MSDAORA.1;Password=123456;User ID=ssouser;Data Source=SSODB.INNOLUX.COM.TW;Persist Security Info=True" />
  <add key="DBCONN_Meeting" value="Provider=MSDAORA.1;Password=meetuser;User ID=meetuser;Data Source=OARPT;Persist Security Info=True" />
  <add key="DBCONN_EDA" value="Provider=MSDAORA.1;Password=pmeda;User ID=lcdloader;Data Source=PEDA1;Persist Security Info=True" />
  <add key="DBCONN_OARPT" value="Data Source=OARPT;User ID=innrpt;Password=stdman" />
  <add key="DBCONN_OARPT_MEETUSER" value="Provider=MSDAORA.1;Password=meetuser;User ID=meetuser;Data Source=OARPT;Persist Security Info=True" />
  <add key="DBCONN_OARPT_PARS1" value="Provider=MSDAORA.1;Password=onduty;User ID=onduty;Data Source=Pars1;Persist Security Info=True" />
  <add key="DBCONN_CFT" value="Provider=MSDAORA.1;Password=plumcft;User ID=innrpt;Data Source=ODS_CF;Persist Security Info=True" />
  <add key="DBCONN_SSODB" value="Data Source=SSODB;User ID=ssouser;Password=123456" />
  <add key="AttachDir" value="D:\\Inetpub\wwwroot\\Innovation_TotalSolution" />
  <add key="AttachVirtualDir" value="Innovation_TotalSolution" />
  <add key="WebReference.Service1" value="http://172.16.12.77:8888/Login3/Service1.asmx" />
  <add key="DBCONN_LHMIS1" value="Provider=SQLOLEDB;Data Source=INLLHHRMDB01;Initial Catalog=HRBI;User ID=BUuser;Password=BUuser123;" />
  <add key="onduty_check_mail" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\CIM-SE-RPT-WEB\Onduty_dotnet2\db\cim_onduty.mdb;Mode=ReadWrite;Persist Security Info=False" />
  <add key="WebReference1.Service1" value="http://172.16.12.77:8888/Login3/Service1.asmx" />
  <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
 </appSettings>
	<connectionStrings>
		<add name="TMSDB" connectionString="Data Source=oavmdb1;Persist Security Info=True;User ID=tms;Password=tms" providerName="System.Data.OracleClient"/>
		<add name="SSODB" connectionString="Data Source=SSODB.INNOLUX.COM.TW;Persist Security Info=True;User ID=ssouser;Password=123456" providerName="System.Data.OracleClient"/>
		<add name="ConnectionString4" connectionString="Data Source=PARS1;User ID=innrpt;Password=stdman;Unicode=True" providerName="System.Data.OracleClient"/>
		<add name="DBCONN_OARPT_MEETUSER" connectionString="Data Source=OARPT;User ID=meetuser;Password=meetuser;Unicode=True" providerName="System.Data.OracleClient"/>
		<add name="DBCONN_OARPT_PARS1" connectionString="Data Source=Pars1;User ID=onduty;Password=onduty;Unicode=True" providerName="System.Data.OracleClient"/>
		<add name="ConnectionString" connectionString="Data Source=Pars1;User ID=onduty;Password=onduty;Unicode=True" providerName="System.Data.OracleClient"/>
		<add name="ConnectionString2" connectionString="Data Source=pars1;User ID=onduty;Password=onduty;Unicode=True" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<system.web>
		<pages theme="Blue">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<!-- 
            設定 compilation debug="true" 會將偵錯 
            符號插入編譯過的頁面。因為這樣會
            影響效能，所以只有在開發期間才能將
            這個值設定為 true。
        -->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Syncfusion.Core, Version=6.302.0.6, Culture=neutral, PublicKeyToken=632609B4D040F6B4"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<httpHandlers>
   <remove path="*.asmx" verb="*" />
   <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
   <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
   <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
   <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2008.3.1125.20, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
    validate="false" />
   <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler"
    validate="false" />
  </httpHandlers>
		<!--
            <authentication> 區段可以用來設定 ASP.NET 
            使用的安全性驗證模式，以識別連入的 
            使用者。 
        -->
		<authentication mode="None"/>
		<!--<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/Login.aspx" protection="Encryption" timeout="60" defaultUrl="~/main.aspx" path="/"/>
		</authentication>-->
		<!--<authorization>
			<deny users="?"/>
		</authorization>-->
		<!--
            <customErrors> 區段可以用來設定 
            在執行要求期間發生未處理 
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁， 
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization requestEncoding="big5" responseEncoding="big5"/>
    <identity impersonate="true" />
		<!--<globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8"/>-->
	</system.web>
</configuration>
